* { /* PADRAO DA PAGINA*/
    margin: 0px; 
    padding: 0px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

#cssmenu ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
    /*  right: 100px;*/
  width: 100%;
  /*width: 1000px;*/
  position: relative;
  display: block;
  font-size: 15px;
  font-weight: bold;
  background: #353535;
  border-bottom: 1px solid #353535;
  zoom: 1;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0 4px;
}
#cssmenu li a {
  display: block;
  float: left;
  color: #999999;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px 7px 20px;
  /*padding: 10px 20px 7px 20px;*/
  border-bottom: 3px solid transparent;
}
#cssmenu li a:hover {
  color: #FFFFFF;
  border-bottom: 3px solid #00b8fd;
}
#cssmenu li.active a {
  display: inline;
  border-bottom: 3px solid #00b8fd;
  float: left;
  margin: 0;
}
